
html { overflow: -moz-scrollbars-vertical; overflow-y: scroll; }

form label {
  display: inline-block;
  width: 225px;
  font-weight: bold;
}

        
        body
        {
                padding: 0;
                margin: 0;
                background-color: #FFF;
                color: #000;
		min-width:800px;
		
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        }
        
        div.contentBox
        {
            margin-top: 50px;
                margin-bottom: 50px;
                margin-right:auto;
                margin-left:auto;
                padding: 15px;
                width: 100%;
                height: 200px;
                border: 1px solid gray;
                color: #000;
                text-align: left;
                float: left;
        }
        
        div.wrapper
        {
                width: 100%;
        
        
        }
        
        
        #wrap{
        
                width: 740px;
                margin-top: 40px;
                margin-right: auto;
                margin-left: auto;
                background:         #dceef6;
        }
        
        #main{
                float: left;
                width: 490px;
                
                text-align: left;
                padding-left: 10px;
                background-color: #999;
                
                }
                
        #sidebar{
                float: right;
                width: 250px;
                background: #dceef6;
                text-align: left;
                padding-left: 10px
                margin-right: 20px;
                
                }
                
     #footer{
             clear: both;
             background: #cc9;
     
     }
        
        
        div.right_box{
                margin-top: 50px;
                margin-bottom: 50px;

         float: right;
         padding: 10px;
         width: 290px;
         border: 1px solid gray;
    }
        
        
        #contents        
        {
                margin-top: 50px;
                margin-bottom: 50px;
                margin-right:auto;
                margin-left:auto;
                width: 100%;
                padding: 10px;
                color: #000;
                text-align: left;
        }
        
        
        textarea {
                background-color: #dceef6;
        }
        
                #contents2        
        {
                margin-top: 50px;
                margin-bottom: 50px;
                margin-right:auto;
                margin-left:auto;
                width: 900px;
                padding: 10px;
                background-color: #549abc;
                color: #dceef6;
                text-align: left;
        }
        h1        
        {
                color: #039;
                background-color: transparent;
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                font-size: 36px;
		font-weight:200;
		text-align:left;
		margin-left:10px;
        }
        h2
        {
                color: #039;
                background-color: transparent;
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                font-size: 15px;
        }
	h3{
		color:#666;
		margin:5px;
		font-weight:normal;
	}
        
        
        label
        {
                color: #039;
                background-color: transparent;
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                font-size: 0.8em;
        }
        
        
        p        
        {
                color: #039;
                background-color: transparent;
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                font-size: 0.8em;
        }


        p.side        
        {
                color: #039;
                background-color: transparent;
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                font-size: 0.6em;
        }


        
        input
        {
                color: #039;
                background-color: transparent;
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                font-size: 0.8em;
        }

    #plain
        {
                color: #039;
                background-color: transparent;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 0.8em;
        }
        
         #plain2
        {
                color: #039;
                background-color: transparent;
                font-family: Arial, Helvetica, sans-serif;
        }
    
    
table.report {
        border-width: thin;
        border-spacing: ;
        border-style: hidden;
        border-color: blue;
        border-collapse: separate;
        font-family: Arial, Helvetica, sans-serif;
        
}
th.report {
        border-width: 1px;
        padding: 3px;
        border-style: inset;
        border-color: blue;
        background-color: rgb(220, 238, 246);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        
}
td.report {
        border-width: 1px;
        padding: 3px;
        border-style: inset;
        border-color: blue;
        background-color: rgb(220, 238, 246);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        
}

#hor-minimalist-b
{
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        background: #039;;
        margin: 5px;
        width: 600px;
        border-collapse: collapse;
        text-align: left;
}
#hor-minimalist-b th
{
        font-size: 14px;
        font-weight: normal;
        color: #FFF;
	width: 100px;
        padding: 10px 8px;
        border-bottom: 2px solid #6678b1;
}
#hor-minimalist-b td
{
        border-bottom: 1px solid #ccc;
        color: #FFF;
        padding: 6px 8px;
}
#hor-minimalist-b tbody tr:hover td
{
        color: #FFF;
}
.course{
color:#666;
padding:5px;
}
.bgheader{
background-image:url('headerbg.jpg');
background-position:center;
background-repeat:no-repeat;
background-color:#FFF;
width:100%;
margin:0px;
}
.bgheader p{
margin-top:-2px;
font-size:48px;
font-weight:normal;
text-shadow:
	-1px -1px 0 #999,
	1px -1px 0 #999,
	-1px 1px 0 #999,
	1px 1px 0 #999;
color:#FFF;
text-align:center;
}
.topmenu{
margin-top:-50px;
border-top: 1px solid #999;
border-bottom:1px solid #888;
background-color:#AAA;
width:100%;
}
.topmenu p{
color:#FFF;
font-size:14px;
font-weight:bold;
text-align:center;
}
.topmenu a{
text-decoration:none;
color:#FFF;
}
.options{
float:right;
width:50%;
}

.schedule{
	border width: 0 0 1px 1px;
	border-spacing:0;
	border-collapse:collapse;
	border-style:dotted;
	border-color:#FFF;
}
.schedule td,th{
	margin:0;
	padding:5px;
	border-width: 1px 1px 0 0;
	border-style: dotted;
	border-color:#DDD;
}
